<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/predict.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
    <title>Prediction</title>
</head>
<body>
    <header class="header">
        <h1 class="special-elite-regular">Fact Proof</h1>
        <nav class="nav" id="home">
          
        </nav>
      </header>
    
    <!-- predict.html -->
    <div class="container">
    <div class="prediction">
        <!-- <p>
            Title:
        </p>
        {{title}}
        <p>
            Article:
        </p> -->
        <!-- {{title}}
        {{article}} -->
        <div class="prediction_text">
        <!-- <br> -->
        {{ prediction_text }}
        </div>
        <!-- <br> -->
        <div div class="sentiment_text">
        {{ sentiment_text }}
        </div>
    </div>
    </div>

</body>
</html>